.sobre {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 3rem 1rem;
}

.sobre h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.sobre p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 1rem;
}